$spotify-green: #1cd760;
$spotify-black: #121212;
$spotify-light-black: #212121;
$spotify-grey: #535353;
$spotify-light-grey: #b3b3b3;

.homeHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}